.header {
	position: relative;
	text-align: center;
}

.header #app-name-profile {
	display: inline;
}

#open-room, #close-room {	
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	cursor: pointer;
}

#open-room span, #close-room span {
	color: #1ED760;
}

.content {
	margin: 20px 40px;
	text-align: center;
}

.search-bar {
	padding: 10px 20px;
	border-radius: 20px;
	border: solid 2px gray;
	width: 30%;
	outline: none;
}

.song-item {
	margin-bottom: 40px;
}

.song-item img {
	float: left;
	margin-right: 20px;
}

#logout {
	color: #1ED760;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10%;
}
