.header {
	position: relative;
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.header #app-name-profile {
	display: inline;
}

#open-room, #close-room, #create-playlist {	
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	cursor: pointer;
}

#open-room span, #close-room span, #create-playlist span {
	color: #1ED760;
}

#logout {
	color: #1ED760;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.content {
	margin: 20px 40px;
	text-align: center;
}

#copy-shareable-link {
	cursor: pointer;
	color: #1ED760;
}

#shareable-link-content {
	position: fixed;
	opacity: 0;
}

/* Get the first song in the songs container */
#queue-songs-container > .queue-song:first-child {	
	box-shadow: 0px 4px 10px rgba(30, 215, 96, .75);
}

.queue-song {
	position: relative;
	height: 100px;
	text-align: left;
	padding: 0;
	margin: 40px auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	max-width: 500px;
}

.queue-song img {
	height: 100px;
	/* Scale proportionally */
	width: auto;
}

.queue-song .details {
	box-sizing: border-box;
	border: solid #E5E5E5;
	border-left: 0;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 100px;
	height: 100%;
	transform: translateY(-50%);
	padding-left: 20px;
}

.queue-song .details * {
	margin: 15px 0px;
}

.song-item {
	margin-bottom: 40px;
}

.song-item img {
	float: left;
	margin-right: 20px;
}

.search-bar {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	border: solid 2px #000000;
	width: 50%;
	margin-top: 30px;
	outline: none;
}

.add {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

#search-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 998;
}

#close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#song-container {
	max-height: 100%;
	overflow-y: scroll;
}

.popup-error {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #1ED760;
	max-width: 400px;
	padding: 20px 40px;
	z-index: 999;
}

@media screen and (max-width: 900px) {	
	.header, .content {
		margin-left: 10px;
		margin-right: 10px;
	}

	#open-room, #close-room, #create-playlist, #logout {	
		position: relative;
		display: block;
		margin-top: 20px;
	}
}

@media screen and (max-width: 380px) {
	#open-search-modal {
		margin-bottom: 20px;
	}
}
