* {
	font-family: sans-serif;
}

html, body {
	margin: 0px;
	padding: 0px;
}

.content {
	margin: 20px 40px;
}

#header {
	position: relative;
	padding: 20px 40px;
	background-color: #1DB954;
}

#app-name {
	display: inline-block;
}

.search-bar {
	padding: 10px 20px;
	border-radius: 20px;
	border: solid 2px gray;
	width: 30%;
	outline: none;
}

#logout {
	font-size: 18px;
	text-decoration: none;
	color: black;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}
