html {
	font-family: 'Roboto', sans-serif;
}

#app-name {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 15%;
	text-align: center;
}

#login {
	margin: 50px 100px;
	text-align: center;
}

#login hr {
	height: 3px;
	background-color: #E5E5E5;
	border: none;
}

.login-block {
	margin: 10% 0px;
}

#joining-room input {
	border: solid #E5E5E5;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 5px;
}

.cta-btn {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	background-color: #1ED760;
	border-radius: 5px;
	cursor: pointer;
}

.modal-bg {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* Right under modal */
	z-index: 990;
	background-color: rgba(0, 0, 0, 0.4);
}

footer {
	height: 50px;
	text-align: center;
}

.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 10vw;
	right: 10vw;
	transform: translateY(-50%);
	height: 500px;
	overflow-y: scroll;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	z-index: 999;
}

#search-modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 10vw;
	right: 10vw;
	transform: translateY(-50%);
	height: 500px;
	overflow-y: scroll;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	z-index: 999;
}
#search-modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 10vw;
	right: 10vw;
	transform: translateY(-50%);
	height: 500px;
	overflow-y: scroll;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	z-index: 999;
}

@media screen and (max-width: 900px) {	
	#login {
		margin-left: 10px;
		margin-right: 10px;
	}
}
