<!DOCTYPE html>
<html>
	<head>
		<title>Spotify Group Queue</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="static/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<h1 id="app-name"> Spotify Group Queue </h1>
	
		<div id="login">
			<div class="login-block">
				<h3> Joining a Room? </h3>
				<form id="joining-room" action="/join" method="POST">
					<input type="text" name="room-code" placeholder="Room Code">
				</form>
			</div>
			
			<hr>
			
			<div class="login-block">
				<h3> Hosting a Room? </h3>
				<a class="cta-btn"  href={{ . }}>Login with Spotify</a>
			</div>
		</div>
		
		<footer>
			<p> Made by Aaron Raff </p>
		</footer>
	</body>

</html>
