<!DOCTYPE html>
<html>
	<head>
		<title> {{ .User.ID }}'s Profile </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/profile.css">
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</head>
	<body>
		<div class="modal-bg"></div>
		<div class="header">
			<h1 id="app-name-profile"> Spotify Group Queue </h1>

			{{ if and (not .IsActive) (not .PlaylistExists) (.IsOwner) }}	
				<a id="create-playlist"> No playlist. <span>Create</span> one? </a>
			{{ end }}

			{{ if and (not .IsActive) (.PlaylistExists) (.IsOwner) }}
				<a id="open-room"> <span>Open</span> the Room? </a>
			{{ end }}

			{{ if and .IsActive .IsOwner }}
				<a id="close-room"> <span>Close</span> the Room? </a>
			{{ end }}
			
			{{ if .IsLoggedIn }}
				<a id="logout" href="/logout"> Logout </a>
			{{ end }}
		</div>

		<div class="content">
			{{ if .IsActive }}
				<h3> Room Code: {{ .Code }} </h3>
				<p id="copy-shareable-link"> <i class="fa fa-clone" aria-hidden="true"></i> Copy Shareable Link </p>
				<input id="shareable-link-content" value={{ .ShareableLink }}></input>
				<p>Veto Count: <span id="veto-count"> {{ .VetoCount }} </span>/<span id="user-count"> {{ .UserCount }} </span></p>
				<a id="open-search-modal" class="cta-btn"> Add to the Queue </a>

				{{ if .HasVetoed }}
					<a id="veto-song" class="cta-btn"> Voted! </a>
				{{ end }}
				
				{{ if not .HasVetoed }}
					<a id="veto-song" class="cta-btn"> Veto Current Song </a>
				{{ end }}
			{{ end }}
	
			<div id="queue-songs-container">
				{{ range .QueueSongs }}
					<div class="queue-song" id="{{ .Track.ID }}">
						<img src="{{ (index .Track.Album.Images 1).URL }}">
						<div class="details"> 
							<h3> {{ .Track.Name }} </h3>
							<p> {{ (index .Track.Artists 0).Name }} </p>
						</div>
					</div>
				{{ end }}
			</div>

			{{ if .IsActive }}
				<div id="search-modal">
					<form id="search-form">
						<input class="search-bar" placeholder="Song name">
						<input id="room-code" type="hidden" value="{{ .Code }}">
					</form>

					<div id="song-container">
					</div>
				</div>
		{{ end }}
		</div> <!-- .content -->

		<footer>
			<p> Made by Aaron Raff </p>
		</footer>

		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
		</script>

		{{ if .IsActive }}
		<script>
			window.onload = function() {
				var ws = "wss://"
				if(window.location.hostname == "localhost") {
					ws = "ws://"
				}

				var conn = new WebSocket(ws + window.location.host + "/ws?roomCode={{ .Code }}");
				conn.onmessage = function(msg) {
					var j = JSON.parse(msg.data);
					console.log(j)

					switch(j.type) {
						case 'addition':
							appendToSongList(j.track);
							break;
						case 'removal':
							removeSongFromSongList(j.trackID);
							break;
						case "vetoCountUpdate":
							updateVetoCount(j.count.toString());
							break;
						case "totalUserCountUpdate":
							updateUserCount(j.count.toString());
							break;
						case "resetVote":
							resetVoteBtn();
							break;
						case "roomClosed":
							// We don't want to redirect the host of the room
							if(!{{ .IsOwner }}) {
								window.location.href = "/static/room-not-found.html"
							}
							break;
					}
				}

				conn.onclose = function(e) {
					console.log(e)
				}
			}
		</script>
		{{ end }}

		<script type="text/javascript" src="/static/profile.js"></script>

	</body>
</html>
